{% extends 'EnsJobeetBundle::layout.html.twig' %}

{% block title %}
    Jobs in the {{ category.name }} category
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/ensjobeet/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div class="category">
        <div class="feed">
            <a href="{{ path('EnsJobeetBundle_category', { 'slug': category.slug, '_format': 'atom' }) }}">Feed</a>
        </div>
        <h1>{{ category.name }}</h1>
    </div>

    {% include 'EnsJobeetBundle:Job:list.html.twig' with {'jobs': category.activejobs.items} %}


    <div class="pagination_desc">
        <strong>{{ category.activejobs.getTotalItemCount }}</strong> jobs in this category
    </div>
    <div class="navigation">
        {{ knp_pagination_render(category.activejobs) }}
    </div>
{% endblock %}